# Отключить листинг директорий
Options -Indexes +FollowSymLinks

# Главный файл по умолчанию
DirectoryIndex index.php index.html

# Включить URL Rewriting
RewriteEngine On

# Разрешить доступ к статическим файлам (CSS, JS, изображения)
RewriteCond %{REQUEST_URI} ^/public/
RewriteRule ^(.*)$ - [L]

# Перенаправляем все остальные запросы на index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
